# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de MongoDB
MONGODB_URI=mongodb://localhost:27017/consultorio
MONGODB_DB_NAME=consultorio

# Configuración de sesión
SESSION_SECRET=tu_secreto_super_seguro_cambiar_en_produccion
SESSION_NAME=consultorio_session
SESSION_MAX_AGE=86400000

# Otras configuraciones
LOG_LEVEL=dev

# Configuración de usuarios
ADMIN_USER=admin
ADMIN_PASSWORD=123456
MELI_USER=meli209
MELI_PASSWORD=123456
